form {

    position: absolute;
    top: 30%;
    left: 50%;
    width: 270px;
    transform: translate(-50%, -50%);
}

input{
    padding: 15px;
}

button{
    padding: 10px;
    border-radius: 50px;
    outline: none;
    color: white;
    background-color: rgba(20, 20, 245, 0.811);
}
